body {
  background-image: url('./bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.container {
  background-color: rgb(249, 240, 229);
  border-radius: 5px;
  max-width: 700px;
  margin: 30px auto;
  opacity: .9;
  padding: 30px;
}

main {
  padding: 10px;
}

#title {
  text-align: center;
  line-height: 50px;
}

#description {
  text-align: justify;
  padding: 0 30px;
  line-height: 25px;
}

form {
  max-width: 500px;
  margin: 10px auto;
}

.star {
  color: red;
}

.field {
  padding: 10px;
}

label,
input[type="radio"] {
  padding-right: 12px;
}

.padL {
  padding-left: 7px;
}

input {
  height: 30px;
  padding: 3px;
}

input[type="radio"],
input[type="checkbox"] {
  vertical-align: middle;
}

fieldset {
  border: none;
}

legend {
  padding: 0;
  margin: 0;
}

#dropdown {
  margin: 15px;
  height: 30px;
}

footer p {
  text-align: right;
  color: white;
}